# Configuración del servidor
NODE_ENV=development
PORT=5002

# Configuración de SQL Server (MSSQL)
MSSQL_USER=your_mssql_username
MSSQL_PASSWORD=your_mssql_password
MSSQL_SERVER=192.168.1.7
MSSQL_DATABASE=HPMSA
MSSQL_ENCRYPT=false
MSSQL_TRUST_CERT=true

# Configuración de PostgreSQL
PG_USER=your_postgres_username
PG_PASSWORD=your_postgres_password
PG_HOST=192.168.1.11
PG_DATABASE=webhpmm
PG_PORT=5432
